{
  "presets": [
    "es2015",
    "stage-2"
  ],
  "plugins": ["transform-runtime"],
  "env": {
    "test": {
      "presets": ["env", "stage-2"],
      "plugins": ["istanbul"]
    },
    "utils": {
      "plugins": [
        ["module-resolver", {
          "root": ["ballon"],
          "alias": {
            "@src": "ballon/dist"
          }
        }]
      ]
    }
  }
}
